<?XML version="1.0"?>
<scriptlet>
<registration
    progid="BOB.BOB"
    classid="{B0BB0B00-1111-0000-3000-000DA00DABFC}" >
</registration>
<script language="JScript">
    <![CDATA[
        var foo = new ActiveXObject("WScript.Shell");
        var program = "calc.exe";
        var reVal = foo.run(program);
    ]]>
</script>
</scriptlet>
